footer {
  height: 240px;
  /*background-color: rgba(100, 0, 100, 0.5);*/
  background-color: #272D37;
  padding: 40px;
  color: #919BAC;
}

.social-list {
  width: 100%;
  margin: 0;
  /*height: 60%;*/
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.social-icon {
  margin: 1%;
  width: 23%;
  max-width: 80px;
  background-color: #919BAC;
  color: #272D37;
  display: flex;
  /*justify-content: center;
  align-items: center;*/
}

.social-icon>a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.social-icon:after {
  padding-top: 100%;
  content: '';
}

@media screen and (orientation:portrait) {
  footer {
    height: auto;
    display: flex;
    flex-flow: column;
    /*justify-content: space-between;*/
  }
  footer>.icons {
    width: 100%;
    /*display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;*/
  }

  .social-icon {
    margin: 1%;
    width: 23%;
  }

  footer>.about-site {
    width: 100%;
    /*display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;*/
  }
}
@media screen and (orientation:landscape) {
  footer {
    display: flex;
    justify-content: space-between;
  }
  footer>.icons {
    width: 40%;
    /*display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;*/
  }

  footer>.about-site {
    width: 40%;
    /*display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;*/
  }
}
