html, body {
    margin: 0;
    min-height: 100%;
}

html {
    background-color: rgba(255, 255, 255, 1);
}

body {
    background-color: rgba(255, 255, 255, 1);
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 0.2rem;
    text-indent: 0.2rem;
    /*font-size: 20px;*/
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: inherit;
}

.list-unstyled {
    list-style: none;
    padding: 0;
}

.container {
    height: 100%;
    overflow-y: auto;
}

@media screen and (max-width:500px) {
  #home ack {
    transform: scale(0.5, 0.5);
  }
}

@media screen and (orientation:portrait) {
    .section-row {
        flex-flow: column;
    }
    .section-content {
        width: 100%;
        height: 60%;
        display: flex;
        flex-flow: column wrap;
        /*justify-content: center;
        align-items: center;*/
    }
    .section-image {
        width: 100%;
        height: 40%;
    }
    .projects {
        width: 100%;
        /*height: 100%;*/
        display: flex;
        flex-flow: row wrap;
        /*justify-content: center;*/
        align-items: center;
    }
    #projects .section-wrapper {
        height: auto;
    }
    #projects .section-content {
        height: auto;
    }
    #projects h1 {
      font-size: 24px;
    }
    .thumbnail-16-9 {
        display: inline-block;
        width: 45%;
        position: relative;
        margin: 2.5%;
    }
}

@media all and (orientation:landscape) {
    .section-row {
        flex-flow: row;
    }
    .section-content {
        width: 60%;
        height: 100%;
    }
    .section-image {
        width: 40%;
        height: 100%;
    }
    .projects {
        width: 100%;
        margin: 0 auto;
        /*display: flex;
        flex-flow: wrap row;
        justify-content: flex-start;*/
    }
    .thumbnail-16-9 {
        display: inline-block;
        width: 23%;
        position: relative;
        margin: 1%;
        float: left;
    }
}

.section-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.section-row {
    margin: 2%;
    height: 96%;
    display: flex;
}

.section-content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.section-image {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* HOME SECTION */

#home {
    padding-top: 0;
    background-color: rgba(50, 0, 0, 0.5);
    top: 0;
    left: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,283156+76,000000+100 */
    background: rgb(0, 0, 0);  /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(40, 49, 86, 1) 69%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(40, 49, 86, 1) 69%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(40, 49, 86, 1) 69%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#home .section-content {
    margin-bottom: 3rem;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 40%);
    position: relative;
    display: flex;
}

#home-image {
    width: 75%;
    height: 75%;
    background: url('../img/pixel-me.gif') no-repeat center;
    background-size: contain;
}

.overlay-stack {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-stack:after {
    padding-top: 100%;
    content: '';
}

#home .overlay-stack .nameplate {
    position absolute;
    top: 25%;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    z-index: 2;
}

.overlay-stack .overlay-layer {
    position: absolute;
}

#home .overlay-layer>svg {
    width: 100%;
    transform: scale(0.7, 0.7);
    z-index: -1;
}

#home svg>polygon {
    fill: rgba(225, 135, 40, 0.7);
}

#home .overlay-layer>.home-banner {
    align-self: center;
}

#banner {
  width: 450px;
  /*transform: scale();*/ /* this preserves the position relationships of children elements */
}

.home-banner {
    position: relative;
    font-family: 'Josefin Slab', serif;
    -ms-transform: skewY(-10deg); /* IE 9 */
    -webkit-transform: skewY(-10deg); /* Safari */
    transform: skewY(-10deg);
    width: 100%;
}

.banner-text-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.banner-text {
    padding: 10px 5px;
}

.banner-text h1 {
  color: rgba(255, 240, 200, 1);
  transform: scale(1, 1.2);
  font-weight: 900;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
  /*font-style: italic;*/
}

#banner-text-top {
  background-color: rgba(0, 0, 0, 0);
  float: left;
}

#banner-text-bottom {
  float: right;
}

#banner-text-top h1 {
  font-size: 1.5rem;
  margin: 3px auto -5px;
  /*color: rgb(209, 154, 60);*/
  /*transform: scale(1, 1.55);*/
}

#banner-text-bottom h1 {
    /*text-shadow: 4px 4px rgba(34, 25, 25, 0.4);*/
    font-size: 2.5rem;
    margin: 5px auto -5px;
    /*color: rgb(209, 154, 60);*/
    /*transform: scale(1, 1.55);*/
}


/* PROJECTS SECTION */

#projects {
    /*background-color: rgba(100, 0, 0, 0.5);*/
    top: 100%;
    left: 0;
}

#projects .section-content {
    width: 90%;
    margin: 0 auto;
    text-transform: uppercase;
    align-content: center;
}

#projects .section-content h1 {
    letter-spacing: 0.25rem;
    text-indent: 0.25rem;
    font-weight: 900;
    margin: 0;
}

#projects .section-content p {
    margin: 2px auto;
}

#projects .section-content .projects {
    margin: 0 auto;
}

.thumbnail-16-9:after {
    /* 16:9 ratio */
    padding-top: 56.25%;
    display: block;
    content: '';
    /*background-color: rgba(100, 200, 100, 0.5);*/
    box-shadow: 0 1px 4px rgba(34, 25, 25, 0.4);
}

.thumbnail-16-9-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 90.2%;
    height: 82.5%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    opacity: 0;
    transition: opacity 0.2s linear;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.thumbnail-16-9:hover .thumbnail-16-9-overlay {
    opacity: 1;
}

.thumbnail-16-9-overlay h4 {
    margin: 0;
    font-size: 80%;
    text-align: center;
    letter-spacing: 0.25rem;
    text-indent: 0.25rem;
}

.thumbnail-16-9-overlay h4:hover {
    text-decoration: underline;
}

.tech-icons {
    text-align: center;
    font-family: monospace;
    font-size: 16px;
    letter-spacing: 0.1rem;
}

.icon-custom {
    width: 16px;
    height: 16px;
    /*padding: 0;
  margin: 0;*/
}

.icon-cardboard-black {
    background: url('../img/cardboard-black.png') no-repeat center;
    background-size: contain;
}

.icon-cardboard-white {
    background: url('../img/cardboard-white.png') no-repeat center;
    background-size: contain;
}

#thumbnail-lasersimulator {
    background: url('../img/portfolio/laser-simulator.gif') no-repeat center;
    background-size: cover;
}

#thumbnail-duckface {
    background: url('../img/portfolio/duckface.png') no-repeat center;
    background-size: cover;
}

#thumbnail-8bitchat {
    background: url('../img/portfolio/8-bit-chat.gif') no-repeat center;
    background-size: cover;
}

#thumbnail-tastesaver {
    background: url('../img/portfolio/taste-saver.png') no-repeat center;
    background-size: cover;
}


/* ABOUT SECTION */

#about {
    /*background-color: rgba(150, 0, 0, 0.5);*/
    top: 200%;
    left: 0;
    /*font-size: 30px;*/
}

#about .section-content p {
  margin-left: 5%;
  margin-right: 5%;
}

#about-image {
    width: 50%;
    height: 50%;
    background: url('../img/pixel-me-head-large.png') no-repeat center;
    background-size: contain;
}


/* CONTACT SECTION */

#contact {
    /*background-color: rgba(200, 0, 0, 0.5);*/
    top: 300%;
    left: 0;
}

#contact .section-content {
    font-size: 40px;
}

.contact-list {}


/* NAVIGATION BAR */

#nav {
    position: absolute;
    top: 80%;
    width: 100%;
    z-index: 99;
}

.nav-spacer-row {
    /*background-color: rgba(0, 200, 0, 0.5);*/
    width: 100%;
    height: 3.5em;
}

.navbar {
    position: static;
    height: 3em;
    /*width: 90%;
    margin: 0 5%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;*/
    width: 100%;
}

.navbar-docked {
    position: fixed;
    width: 100%;
    /*margin: 0;*/
    top: 0;
    background: rgba(40, 49, 86, 1);
}

.navbar-list {
    margin: 0;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-item {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar-button {
    background: none;
    border: none;
    height: 100%;
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    letter-spacing: 0.2rem;
    text-indent: 0.2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding: 0 1rem;
}

.navbar-button:hover {
    padding-bottom: 0.5em;
}

.navbar-button:focus {
    outline: none;
}

.navbar-current {
    background-color: rgba(255, 255, 255, 0.25);
}

/* ANIMATED EFFECTS */

.floating {
    /*float: left;*/
    -webkit-animation-name: Floating;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    animation-name: Floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    /*margin-left: 30px;
    margin-top: 5px;*/
}

@-webkit-keyframes Floating {
    from {
        -webkit-transform: translate(0, 0px);
    }
    65% {
        -webkit-transform: translate(0, 15px);
    }
    to {
        -webkit-transform: translate(0, -0px);
    }
}

@-moz-keyframes Floating {
    from {
        -moz-transform: translate(0, 0px);
    }
    65% {
        -moz-transform: translate(0, 15px);
    }
    to {
        -moz-transform: translate(0, -0px);
    }
}

@keyframes Floating {
    from {
        transform: translate(0, 0px);
    }
    65% {
        transform: translate(0, 15px);
    }
    to {
        transform: translate(0, -0px);
    }
}


/* need to account for additional transform parameter that home-banner has */

.floating-home-banner {
    -webkit-animation-name: FloatingH;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: FloatingH;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    animation-name: FloatingH;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@-webkit-keyframes FloatingH {
    from {
        -webkit-transform: translate(0, 5px) skewY(-10deg);
    }
    50% {
        -webkit-transform: translate(0, -5px) skewY(-10deg);
    }
    to {
        -webkit-transform: translate(0, 5px) skewY(-10deg);
    }
}

@-moz-keyframes FloatingH {
    from {
        -moz-transform: translate(0, 5px) skewY(-10deg);
    }
    50% {
        -moz-transform: translate(0, -5px) skewY(-10deg);
    }
    to {
        -moz-transform: translate(0, 5px) skewY(-10deg);
    }
}

@keyframes FloatingH {
    from {
        transform: translate(0, 5px) skewY(-10deg);
    }
    50% {
        transform: translate(0, -5px) skewY(-10deg);
    }
    to {
        transform: translate(0, 5px) skewY(-10deg);
    }
}

.spin {
    -webkit-animation: Spin 7s linear infinite;
    -moz-animation: Spin 7s linear infinite;
    animation: Spin 7s linear infinite;
}

@-moz-keyframes Spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes Spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes Spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
