/* HOME SECTION */

#home {
  padding: 40px 0;
  height: 580px;
  /*top: 0;
  left: 0;*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,283156+76,000000+100 */
  background: rgb(0, 0, 0);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(40, 49, 86, 1) 69%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(40, 49, 86, 1) 69%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(40, 49, 86, 1) 69%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#home .section-row {
  padding: 0;
  /*background-color: rgba(50, 0, 0, 0.5);*/
  height: 500px;
}

#home .section-content {
  /*margin-bottom: 3rem;*/
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 40%);
  position: relative;
}

#home-image {
  width: 75%;
  height: 75%;
  background: url('../img/pixel-me.gif') no-repeat center;
  background-size: contain;
}

.overlay-stack {
  position: relative;
  width: inherit;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-stack:after {
  padding-top: 100%;
  content: '';
}

.overlay-stack .overlay-layer {
  position: absolute;
}

#home .overlay-layer>svg {
  width: 100%;
  transform: scale(0.7, 0.7);
  z-index: -1;
}

#home svg>polygon {
  fill: rgba(225, 135, 40, 0.7);
}

/*#home .overlay-stack .nameplate {
  position absolute;
  top: 25%;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  z-index: 2;
}*/

#home .overlay-layer>.home-banner {
  align-self: center;
}

#banner {
  width: 450px;
  /*transform: scale();*/
  /* this preserves the position relationships of children elements */
}

.home-banner {
  position: relative;
  /*font-family: 'Slabo 27px', serif;*/
  font-family: 'Ubuntu', sans-serif;
  -ms-transform: skewY(-10deg);
  /* IE 9 */
  -webkit-transform: skewY(-10deg);
  /* Safari */
  transform: skewY(-10deg);
  width: 100%;
  letter-spacing: 0.4rem;
}

.banner-text-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.5) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.5) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.5) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.banner-text {
  padding: 10px 5px;
}

.banner-text h1 {
  color: rgba(255, 240, 200, 1);
  transform: scale(1, 1.3);
  font-weight: 900;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
  /*font-style: italic;*/
}

#banner-text-top {
  background-color: rgba(0, 0, 0, 0);
  float: left;
}

#banner-text-bottom {
  float: right;
}

#banner-text-top h1 {
  font-weight: lighter;
  font-size: 1.3rem;
  margin: 3px auto -5px;
  /*color: rgb(209, 154, 60);*/
  /*transform: scale(1, 1.55);*/
}

#banner-text-bottom h1 {
  /*text-shadow: 4px 4px rgba(34, 25, 25, 0.4);*/
  font-weight: lighter;
  font-size: 2.4rem;
  margin: 5px auto -5px;
  /*color: rgb(209, 154, 60);*/
  /*transform: scale(1, 1.55);*/
}


@media screen and (orientation:portrait) {
  #home .section-image {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
  }

  #home .section-content {
    height: 50%;
  }
}

@media screen and (orientation:landscape) {
  #home .section-image {
    display: flex;
    justify-content: flex-end;
  }
  #home .section-content {
    /*margin-bottom: 3rem;*/
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 40%);
    position: relative;
    width: 50%;
  }
}
