@for $i from 1 to 10 {
    .a-stagger:nth-child(#{$i}) { animation-delay: $i * 0.25s; }
}

.a-home-banner {
    opacity: 0;
    animation: {
        name: fadeInDown;
        duration: 1s;
        iteration-count: 1;
        fill-mode: forwards;
    }

}

.a-fadein {
    opacity: 0;
    animation: {
        name: fadeIn;
        duration: 1s;
        iteration-count: 1;
        fill-mode: forwards;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-5%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
