.afadeindown {
    opacity: 0;
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@for $i from 1 to 10 {
    .astagger:nth-child(#{$i}) { animation-delay: $i * 0.25s; }
}

@keyframes fadeInDown {
    0% { opacity: 0; transform: translateY(-5%); }
    100% { opacity: 1; transform: translateY(0%); }
}