.gallery-container {
    height: 100%;
}

.gallery-controls {
    height: 200px;
}

.gallery-body {
    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 50px;

    /* for debugging */
    border: 1px dotted green;
}

.gallery-item {
    width: 300px;
    height: 300px;

    /* for debugging */
    border: 1px dotted coral;
}

.gallery-item-thumbnail {
    // background-color: rgb(31, 30, 34);
    width: 300px;
    height: 200px;

    /* for debugging */
    border: 1px dotted cyan;
}