.home-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
}

.home-menu-item {
    display: flex;
    flex: 1;
}

.home-menu-item:nth-child(odd) {
    background: gray;
}
.home-menu-item:nth-child(even) {
    background: rgb(172, 172, 172);
}

.home-menu-item > a {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.home-menu-item > a > span {
    margin: $layout-header-height/2 40px 0 0;
    width: 100%;
    text-align: right;
    color: $banner-color;
    font-size: 30px;
    border-bottom: 3px solid $banner-color;
}

@include breakpoint(mobile) {
    .home-container {
        flex-direction: column;
    }

}