/* import all the things */
@import './mixins.scss';
@import './animations.scss';
@import './gallery.scss';
@import './home.scss';
@import './layout.scss';
@import './nav.scss';
@import './page.scss';

/* default css */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco,Consolas,
        'Courier New', monospace;
}

a {
    text-decoration: none;
}
