.layout-container {
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.layout-header {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: $layout-header-height;
    opacity: 80%;
    z-index: 10;
    background-color: white;
}

.layout-body {
    flex: 1;
    overflow: auto;
}

.layout-footer {
    overflow: hidden;
    width: 100%;
    height: $layout-footer-height;
    opacity: 80%;
    z-index: 10;
    background-color: white;
}