html, body {
  margin: 0;
  min-height: 100%;
}

html {
  background-color: rgba(0, 0, 0, 0.5);
}

body {
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Amatic SC', cursive;
  font-size: 20px;
}

.container {
  height: 100%;
  overflow-y: auto;
}

#nav {
  position: absolute;
  top: 80%;
  height: 3em;
  width: 100%;
  z-index: 99;
  background-color: silver;
}

.nav-spacer-row {
  background-color: rgba(0, 200, 0, 0.5);
  width: 100%;
  height: 3.5em;
}

.navbar {
  width: 100%;
  /*background: white;*/
}

.navbar-list {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-item {
  position: relative;
  float: left;
}

.navbar-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #222;
}

.navbar-link.active {
  color: #33C3F0;
}

.section-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.section-row {
  margin: 2%;
  height: 96%;
  display: flex;
}

.section-content {
  width: 60%;
  background-color: rgba(255, 255, 0, 0.5);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.section-image {
  width: 40%;
  background-color: rgba(0, 255, 255, 0.5);
}

/* HEADER SECTION */
#header {
  padding-top: 0;
  background-color: rgba(50, 0, 0, 0.5);
  top: 0;
  left: 0;
}

#resume {
  background-color: rgba(200, 0, 0, 0.5);
  top: 100%;
  left: 0;
}


/* PROJECTS SECTION */
#projects {
  background-color: rgba(100, 0, 0, 0.5);
  top: 200%;
  left: 0;
}

.projects {
  width: 100%;
  display: flex;
  flex-flow: wrap row;
  justify-content: space-between;
}

.project-thumbnail {
  display: inline-block;
  margin: 1% 0;
  width: 48%;
  height: 188px;
  background-color: rgba(100, 200, 100, 0.5);
  box-shadow: 0 1px 4px rgba(34, 25, 25, 0.4);
}


/* ABOUT SECTION */
#about {
  background-color: rgba(150, 0, 0, 0.5);
  top: 300%;
  left: 0;
}
