/* ABOUT SECTION */
#about {
  height: auto;
}

#about .section-row {
  background-color: rgba(236, 237, 241, 1);
  /*top: 300%;
  left: 0;*/
  /*font-size: 30px;*/
}

#about .section-content h2 {
  width: 100%;
}

#about .section-content p {
  width: 100%;
}

#about-image {
  width: 80%;
  height: 80%;
  background: url('../public/img/pixel-me-head-large.png') no-repeat center;
  background-size: contain;
}

@media screen and (orientation:portrait) {
  #about .section-image {
    height: 200px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
  }
  #about-image {
    width: 50%;
    height: 50%;
  }

}
@media screen and (orientation:landscape) {
  #about .section-image {
    height: inherit;
    display: flex;
    justify-content: flex-end;
  }
}
