/* PROJECTS SECTION */

#projects .section-row {
  background-color: rgba(244, 245, 247, 1);
  /*top: 200%;
  left: 0;*/
}

#projects .section-content {
  width: 100%;
  margin: 0 auto;
  align-content: center;
}

#projects .section-content h1 {
  letter-spacing: 0.25rem;
  text-indent: 0.25rem;
  text-align: center;
  text-align-last: center;
  font-weight: 900;
  margin: 10px auto;
  text-transform: uppercase;
}

#projects .section-content>p {
  margin: 10px auto;
  text-align: center;
  text-align-last: center;
  text-transform: uppercase;
}

#projects .section-content .projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}


@media screen and (orientation:portrait) {
  .projects {
    width: 100%;
    /*height: 100%;*/
    display: flex;
    flex-flow: row wrap;
    /*justify-content: center;*/
    align-items: center;
  }
  #projects .section-wrapper {
    height: auto;
  }
  #projects .section-content {
    height: auto;
  }
  #projects h1 {
    font-size: 24px;
  }
}

@media screen and (orientation:landscape) {
  .projects {
    width: 100%;
    margin: 0 auto;
    /*display: flex;
        flex-flow: wrap row;
        justify-content: flex-start;*/
  }
}
