/* RESUME SECTION */

#résumé .section-row {
  background-color: rgba(236, 237, 241, 1);
  /*top: 100%;*/
  /*left: 0;*/
  display: flex;
  flex-flow: column;
  align-items: center;
}

#résumé .resume-row {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 10px 0;
}

#résumé .resume-downloads {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  margin-bottom: 10px;
}

#résumé .resume-glyph {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#résumé .resume-glyph>p {
  text-align: center;
  width: 110px;
  display: flex;
  justify-content: center;
}

#résumé .resume-glyph>i {
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

#résumé .resume-content {
  margin-left: 30px;
  display: flex;
  flex-flow: column;
}

#résumé .resume-header {
  margin-bottom: 0;
}

#résumé .resume-primary {
  text-transform: uppercase;
  font-size: 18px;
}

#résumé .resume-secondary {
  text-transform: uppercase;
  color: #767f8e;
  margin: 3px 0;
  font-size: 15px;
}

#résumé .resume-desc {
  font-size: 15px;
  margin-top: 3px;
}

#résumé .section-content {
  /*font-size: 40px;*/
}

#résumé p {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

iframe {
  border: none;
  /*width: 100%;*/
}
