/* RESUME SECTION */

#résumé .section-row {
  background-color: rgba(236, 237, 241, 1);
  display: flex;
  flex-flow: column;
  align-items: center;
}

#résumé .resume-row {
  display: flex;
  margin: 10px 0;
  padding: 2% 1.5%;
  background-color: white;
  box-shadow: 0 2px 6px rgba(34, 25, 25, 0.4);
}

#résumé .resume-downloads {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  margin-bottom: 10px;
}

#résumé .resume-downloads-bottom {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 10px;
}

#résumé .resume-glyph {
  display: inline-block;
  margin: 0 auto;
  /*flex-flow: column;
  align-items: center;*/
  cursor: pointer;
}

#résumé .resume-glyph>p {
  margin: 16px auto;
  text-align: center;
  text-align-last: center !important;
  width: 115px;
  display: flex;
  justify-content: center;
}

#résumé .resume-glyph>i {
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

#résumé .resume-content {
  display: flex;
  overflow: hidden;
}

#résumé .resume-header {
  margin-bottom: 0;
}

#résumé .resume-primary {
  text-transform: uppercase;
  font-size: 18px;
}

#résumé .resume-secondary {
  text-transform: uppercase;
  color: #767f8e;
  margin: 3px 0;
  font-size: 15px;
}

#résumé .resume-left {
  text-align: left;
  text-align-last: left;
  max-width: 75%;
}

#résumé .resume-right {
  text-align: right;
  text-align-last: right;
}

#résumé .resume-desc {
  font-size: 15px;
  margin-top: 3px;
}

#résumé .section-content {
  /*font-size: 40px;*/
}

#résumé p {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (orientation:portrait) {
  .resume-row {
    flex-flow: column;
    justify-content: space-between;
  }
  .resume-content {
    margin: 0 10px;
    display: flex;
    flex-flow: column;
  }
}

@media screen and (orientation:landscape) {
  .resume-row {
    flex-flow: row;
    justify-content: space-between;
  }
  .resume-content {
    margin: 0 10px 0 30px;
    display: flex;
    flex-flow: column;
    transition: height 0.5s;
  }
}
