/*.thumbnail-16-9 {
  display: inline-block;
  width: 23%;
  position: relative;
  margin: 1%;
  float: left;
}*/

.thumbnail-16-9 {
  display: inline-block;
  width: 48%;
  position: relative;
  margin: 2% 0;
}

.thumbnail-16-9:after {
  /* 16:9 ratio */
  padding-top: 56.25%;
  display: block;
  content: '';
  /*background-color: rgba(100, 200, 100, 0.5);*/
  box-shadow: 0 1px 6px rgba(34, 25, 25, 0.6);
}

.thumbnail-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.thumbnail-16-9-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 90.2%;
  height: 82.5%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  opacity: 0;
  transition: opacity 0.2s linear;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.thumbnail-16-9:hover .thumbnail-16-9-overlay {
  opacity: 1;
}

.thumbnail-16-9-overlay h4 {
  margin: 0 auto;
  width: 100%;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.3rem;
  text-indent: 0.3rem;
  text-transform: uppercase;
}

.thumbnail-desc {
  margin: 0 auto;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.1rem;
  text-indent: 0.1rem;
}

.thumbnail-16-9-overlay h4:hover {
  /*text-decoration: underline;*/
  /*letter-spacing: 0.5rem;*/
  /*text-indent: 0.5rem;*/
}

.tech-icons {
  margin: 10px auto;
  text-align: center;
  font-family: monospace;
  font-size: 18px;
  /*letter-spacing: 0.7rem;
  text-indent: 0.28rem;*/
}

.tech-icons>a {
  margin: 0 7px;
}

.icon-custom {
  /*margin: 0 4px;*/
}

.icon-cardboard-black {
  background: url('../public/img/cardboard-black.png') no-repeat bottom;
  background-size: contain;
}

.icon-cardboard-white {
  background: url('../public/img/cardboard-white.png') no-repeat bottom;
  background-size: contain;
}

#thumbnail-lasersimulator {
  background: url('../public/img/portfolio/laser-simulator.gif') no-repeat center;
  background-size: cover;
}

#thumbnail-duckface {
  background: url('../public/img/portfolio/duckface.png') no-repeat center;
  background-size: cover;
}

#thumbnail-subtvtle {
  background: url('../public/img/portfolio/subtvtle.png') no-repeat center;
  background-size: cover;
}

#thumbnail-8bitchat {
  background: url('../public/img/portfolio/8-bit-chat.gif') no-repeat center;
  background-size: cover;
}

#thumbnail-tastesaver {
  background: url('../public/img/portfolio/taste-saver.png') no-repeat center;
  background-size: cover;
}

#thumbnail-guberoldberg {
  background: url('../public/img/portfolio/gube-roldberg.gif') no-repeat bottom;
  background-size: cover;
}
