.thumbnail-16-9 {
  display: inline-block;
  position: relative;
  margin: 2% 0;
  box-shadow: 0 2px 3px rgba(34, 25, 25, 0.6);
}

.thumbnail-16-9:after {
  /* 16:9 ratio */
  padding-top: 56.25%;
  display: block;
  content: '';
}

.thumbnail-16-9-overlay {
  width: 90%;
}

.icon-custom {
  /*margin: 0 4px;*/
}

@media screen and (max-width: 736px) {
  .thumbnail-16-9 {
    width: 100%;
    display: flex;
    align-items: flex-end;
  }

  .thumbnail-16-9-overlay {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.7);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 60%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 60%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 60%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: white !important;
  }

  .thumbnail-16-9-overlay h4 {
    margin: 0 auto;
    width: 100%;
    font-size: 14px;
    text-align: left;
    text-align-last: left;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
  }

  .tech-icons {
    margin: 10px 0;
    text-align: left;
    font-family: monospace;
    font-size: 20px;
  }

  .tech-icons>a {
    margin-right: 10px;
    /*text-align: justify;*/
  }

  .thumbnail-desc {
    margin: 0 auto;
    font-size: 10px;
    text-align: justify;
    text-align-last: left;
    letter-spacing: 0.1rem;
  }

  .thumbnail-16-9-overlay h4:hover {}

  .thumbnail-extra {
    /*visibility: collapse;*/
    position: absolute;
    top: 0;
    right: 5%;
    font-size: 18px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
  }
}

@media screen and (orientation:landscape) {
  .thumbnail-16-9 {
    width: 48%;
  }

  .thumbnail-16-9-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 82.5%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    opacity: 0;
    transition: opacity 0.2s linear;
    background-color: rgba(0, 0, 0, 0.7);
    color: white !important;
  }

  .thumbnail-16-9:hover .thumbnail-16-9-overlay {
    opacity: 1;
  }

  .thumbnail-16-9-overlay h4 {
    margin: 0 auto;
    width: 100%;
    font-size: 14px;
    text-align: center;
    text-align-last: center;
    text-indent: 0.3rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
  }

  .tech-icons {
    margin: 10px auto;
    text-align: center;
    font-family: monospace;
    font-size: 18px;
  }

  .tech-icons a {
    margin: 0 7px;
  }

  .thumbnail-desc {
    margin: 0 auto;
    font-size: 12px;
    text-align: center;
    text-align-last: center;
    text-indent: 0.1rem;
    letter-spacing: 0.1rem;
  }

  .thumbnail-16-9-overlay h4:hover {}

  .thumbnail-extra {
    position: absolute;
    bottom: 0;
    right: 5%;
    font-size: 18px;
    /*text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);*/
  }

}


.icon-cardboard-black {
  background: url('../public/img/cardboard-black.png') no-repeat bottom;
  background-size: contain;
}

.icon-cardboard-white {
  background: url('../public/img/cardboard-white.png') no-repeat bottom;
  background-size: contain;
}

#thumbnail-lasersimulator {
  background: url('../public/img/portfolio/laser-simulator.gif') no-repeat center;
  background-size: cover;
}

#thumbnail-duckface {
  background: url('../public/img/portfolio/duckface.png') no-repeat center;
  background-size: cover;
}

#thumbnail-subtvtle {
  background: url('../public/img/portfolio/subtvtle.png') no-repeat center;
  background-size: cover;
}

#thumbnail-8bitchat {
  background: url('../public/img/portfolio/8-bit-chat.gif') no-repeat bottom;
  background-size: cover;
}

#thumbnail-tastesaver {
  background: url('../public/img/portfolio/taste-saver.png') no-repeat center;
  background-size: cover;
}

#thumbnail-guberoldberg {
  background: url('../public/img/portfolio/gube-roldberg.gif') no-repeat bottom;
  background-size: cover;
}
